body, html {
    height: 400px;
    width: 800px;
    background-image: url(images/stars.jpg);
    background-size: 800px 400px;;
    background-repeat: no-repeat;
    color: white;
    font-family: "Space Mono";
    padding: 0;
    border: 2px solid white;
}

.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.currentLocation{
    border: 1px solid whitesmoke;
    border-radius: 3px; 
    width: 85%;
    background: rgba(0,0,0, .8)

}

.currentCrew{
    border: 1px solid whitesmoke;
    border-radius: 3px; 
    margin-top: 20px;
    font-size: 12px;
    width: 85%;
    background: rgba(0,0,0, .8)


}

.textHead{
    background: rgba(255, 255, 255, .3) 
}

p{
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
    padding: 2px;
}

h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
        
}
.currentLocation{
    height: auto;
}

.currentCrew{
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
    padding-left: 5px;
}

.row{
    margin: 0;
}

#map{
    height: 100%;
    margin-left: 0px;
    border: 1px solid whitesmoke;
}


