body, html {
    height: 400px;
    width: 800px;
    background-color: black;
    background-size: cover;
    color: white;
    font-family: "Space Mono";
    padding: 0;
    border: 2px solid white;
}

.title{
    text-align: center;
    padding-top: 20px;
}

.currentLocation{
    border: 1px solid white;
    border-radius: 3px; 
    width: 85%;

}

.currentCrew{
    border: 1px solid white;
    border-radius: 3px; 
    margin-top: 20px;
    font-size: 12px;
    width: 85%;


}

.textHead{
    background: rgba(255, 255, 255, .3) 
}

p{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
}

h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
        
}
.currentLocation{
    height: 100px;
}

.currentCrew{
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
    padding-left: 5px;
}

.row{
    margin: 0;
}

#map{
    height: 100%;
    margin-left: 0px;
}


